<div class="container">
  <h1>Azure AD Authentication</h1>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Client ID</mat-label>
    <input matInput [(ngModel)]="clientId" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Tenant ID</mat-label>
    <input matInput [(ngModel)]="tenantId" />
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button color="primary" (click)="redirectToAuthEndpoint()">Auth Code</button>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <button mat-raised-button color="warn" [disabled]="!isConfigured" (click)="refreshToken()">Refresh Token</button>
  </div>
</div>
<div class="tokens" style="margin-bottom: 50px;">
  <p><small>Auth Code</small></p>
  <button mat-icon-button [cdkCopyToClipboard]="authCode">
    <mat-icon>content_copy</mat-icon>
  </button>
  <textarea readonly placeholder="Auth Code" [value]="authCode"></textarea>
  <p><small>Access Token</small></p>
  <button mat-icon-button [cdkCopyToClipboard]="accessToken">
    <mat-icon>content_copy</mat-icon>
  </button>
  <textarea readonly placeholder="Access Token" [value]="accessToken"></textarea>
  <p><small>ID Token</small></p>
  <button mat-icon-button [cdkCopyToClipboard]="idToken">
    <mat-icon>content_copy</mat-icon>
  </button>
  <textarea readonly placeholder="ID Token" [value]="idToken"></textarea>
  <p><small>Refreshed ID Token</small></p>
  <button mat-icon-button [cdkCopyToClipboard]="refreshedIdToken">
    <mat-icon>content_copy</mat-icon>
  </button>
  <textarea readonly placeholder="Refreshed ID Token" [value]="refreshedIdToken"></textarea>
</div>

<mat-card class="user-id-card" *ngIf="showUserCard">
  <mat-card-content>
    <div class="photo-area">
      <img [src]="userPhoto || defaultUserIcon" [alt]="user.name" class="user-photo">
    </div>
    <div class="user-info">
      <div class="info-row">
        <span class="info-label">Name:</span>
        <span class="info-value">{{ user.name }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Email:</span>
        <span class="info-value">{{ user.email }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">User ID:</span>
        <span class="info-value">{{ user.preferred_username }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Issued:</span>
        <span class="info-value">{{ user.iat * 1000 | date:'medium' }}</span>
      </div>
      <div class="info-row">
        <span class="info-label">Expires:</span>
        <span class="info-value">{{ user.exp * 1000 | date: 'medium' }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
